@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes twinkle {
  0%, 100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 9999px;
  animation: twinkle 3s infinite ease-in-out;
}
@keyframes floatStar {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(3px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  75% {
    transform: translate(2px, 1px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.floating-star {
  animation:
    twinkle 3s infinite ease-in-out,
    floatStar 8s infinite ease-in-out;
}